/* сброс стилей браузера */
html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0; /* нулевая граница */
 padding: 0; /* нулевые отступы */
 border: 0; /* больше всего для картинок в IE6 */
 outline: 0; /* точечная граница вокруг ссылок в Firefox */
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
 }

 * {
    box-sizing: border-box;
 }

 body {
 line-height: 1;
 }
 ol, ul {
 list-style: none; /* маркеры без кружочков */
 }
 blockquote, q {
 quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 content: '';
 content: none;
 }
 :focus {
 outline: 0; /* Firefox выделяет рамкой из точек все ссылки при нажатии */
 }
 ins {
 text-decoration: none;
 }
 del {
 text-decoration: line-through;
 }
 table {
 border-collapse: collapse; /* cellspacing="0" */
 border-spacing: 0;
} /* конец кода сброса стилей браузера */


body {
   font-family: 'Lato', sans-serif;
   background-color: #ffffff;
}

h1 {
   font: 700 36px/1.2 'Lato', sans-serif;
}
h2 {
   font: 700 28px/1.2 'Lato', sans-serif;
}
h3 {
   font: 900 24px/1.2 'Lato', sans-serif;
}
h4 {
   font: 700 16px/1.2 'Lato', sans-serif;
}
p {
  font: 400 14px/1.2 'Lato', sans-serif; 
}
header {
   background-image: url(..//media/images/Rectangle444.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.container_padding {
   padding: 0 15px;
}
.container_header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}
 
.header_logo img { 
   margin: 0 auto;
   max-width: 425px;
   width: 100%;
}
/* .nav {
}  */
.nav-ul {
   display: flex;
   flex-flow: row wrap;
   justify-content:center;
}
.nav-li {
   padding: 40px 10px 10px;
   text-align: center;
}
.nav-link {
   font: 700 14px/1.2 'Lato', sans-serif; 
   color: #373636;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
}
.we_are {
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
}

.we-are-img {
   text-align: right;
}
.we_are img {
   max-width: 960px;
   width: 78%;
 
}
.black_square {
   transform: rotate(-45deg);
   background-color: #1b1b1b;
   width: 228px;
   height: 228px;
   margin: 60px auto 20px;
   box-shadow: -11.326px 8.229px 46px 0px rgba(35, 31, 32, 0.57);
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   /* width: 402px */
}
.title_black {
   transform: rotate(45deg);
   max-width: 194px;
   width:100%;
   background-color: #1b1b1b;
   margin: 0 auto;
}
.title_black h4 {
   font-size: 22px;
   text-align: center;
   color: #019edb;
   margin: 10px 0;
}

.title_black p {
   color: #ffffff; 
}
.read-more-general {
   display: block;
   text-align: center;
}
.read-more {
   font: 400 14px/1.2 'Lato', sans-serif;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   border-radius: 50px;
   width: 100px;
   background-color: #019edb;
   border-color: #019edb;
   margin: 9px auto 10px;
   padding: 4px 0;
}
.blue_square {
   transform: rotate(-45deg);
   background-color: #019edb;
   width: 248px;
   height: 248px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px auto 60px;
   overflow: hidden;
   /* width:326px; */
}
.title_blue {
   transform: rotate(45deg);
   max-width: 194px; 
   width:100%;
   background-color: #019edb;
   margin: 0 auto;
   text-align: center;
}
.title_blue h3 {
   display: block;
   font-size: 60px;
   text-align: center;
   color: #ffffff;
   margin-top: -20px;
}
.title_blue h4 {
   font-size: 16px;
   text-align: center;
   color: #ffffff;
   margin: 5px 0;
   
}
.title_blue p {
   color: #ffffff; 
   padding-bottom: 40px;
}
.why-choose-us {
   color: #ffffff;
}
.why-choose-us h4,
.why-choose-us h2 {
   text-transform: uppercase;
   text-align: center;  
}
.why-choose-us h4 {
   font-size: 16px;
}
.about-us,
.feature {
   padding: 20px 20px;
   background-color: rgba(69, 69, 69, 0.4);
   text-align: left;
   max-width: 322px;
   width: 100%;
   margin: 10px auto;
}
.about-us h3,
.feature h3 {
   text-transform: uppercase;
   font-size: 18px;
   text-align: left;
   margin-bottom: 15px;
}
 .feature-about-us {
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
} 
main {
   background-color: #ffffff;
}
.porfolio {
   background-image: url(..//media/images/Layer-5.png);
   background-repeat: no-repeat;
   background-position: 43% 7%;
   padding: 1px 0;
}
.number-two {
   transform: rotate(-45deg);
   background-color: rgba(0, 0, 0, 0.4);
   width: 140px;
   height: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 60px 30px;
   overflow: hidden;
}
.number-two-rotate {
   transform: rotate(45deg);
}
.number-two-rotate span {
   font-family: 'Lato', sans-serif;
   font-weight: 700; 
   font-size: 60px;
   text-align: center;
   color: #019edb;
}
.white-square {
   transform: rotate(-45deg);
   background-color: #ffffff;
   width: 230px;
   height: 230px;
   margin: 40px auto 60px;
   box-shadow: -11px 8px 46px 0px rgba(35, 31, 32, 0.57);
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}
.title-white {
   transform: rotate(45deg);
   width: 194px;
   background-color: #ffffff;
   margin: 0 auto;
   text-align: center;
}
.title-white h4{
   text-transform: uppercase;
   font-size: 28px;
   color: #019edb;
   margin-top: 20px;
   margin-bottom: 10px;
   
}
.title-white p {
   color: #000000;
}
.number-third,
.number-four,
.nubmer-five {
   background-color: rgba(0, 0, 0, 0.4);
   max-width: 120px;
   width: 100%;
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 40px auto -10px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   top: -4px;
   transform: translateX(-50%) rotate(-45deg);
}

.rotate {
   transform: rotate(45deg);
}
.rotate span {
   font-family: 'Lato', sans-serif;
   font-weight: 700; 
   font-size: 44px;
   text-align: center;
   color: #019edb;
}
.how-work {
   background-image: url(..//media/images/Background666.png);
   background-repeat: no-repeat;
   background-position: 65% 50%;
}

.how-it-work,
.get-in-touch,
.testimonials-block { 
   position: relative;
   padding-top: 130px;
}
.how-it-work h2 {
   font-size: 28px;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   z-index: 5;
}
.how-it-work h4 {
   font: 700 20px/1.2 'Lato', sans-serif;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   margin-top: 15px;
   position: relative;
   z-index: 1;
}
.about-lorem {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  margin-top: 55px;
}
.inside-lorem {
   text-align: left;
   margin: 0 10px 20px;
   display: flex;
   align-items: center;
}
.inside-about-work {
   width: 200px;
}

.inside-lorem img {
   max-width: 50px;
   width: 100%;
   display: block;
   padding-bottom: 60px;
   margin-right: 10px;
   margin-top: 14px;
}
.inside-lorem h3 {
   text-transform: uppercase;
   color: #019edb;
   font-size: 18px;
   text-align: left;
   margin: 0 auto 15px;
}
.inside-lorem p {
   font: 700 14px/1.2 'Lato', sans-serif;
   color: #ffffff;

}
.testimonials {
   background-image: url(..//media/images/Layer-3.png);
   background-repeat: no-repeat;
   background-position: 57% 0%;
   padding: 0px 0px 15px;
} 

.testimonials-block h2{
   font-size: 28px;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   z-index: 5;
}

.testimonials-block h4 {
   font: 700 20px/1.2 'Lato', sans-serif;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   margin-top: 15px;
   position: relative;
   z-index: 5;
}
.inside-testimonials-right,
.inside-testimonials-left {
   text-align: center;
   font: 700 14px/1.2 'Lato', sans-serif;
   color: #ffffff;
   padding: 15px;
   max-width: 300px;
   width: 100%;
   margin: 0 auto;
}
.social {
   background-color:#019edb;
} 
.social-icons {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   
}
.social-icons li {
   display: inline-block;
   list-style-type: none; 
   margin: 25px 15px;
}
.social-icons li a {
   border-bottom: none;
}
/* .social-icons li img {
   margin: 26px;
} */

footer {
   background-image: url(..//media/images/Layer0000010.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.get-in-touch h2 {
   font-size: 28px;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   z-index: 5;
}
.get-in-touch p {
   display: block;
   font-size: 17px;
   font-family: "Times New Roman";
   color: #ffffff;
   line-height: 1.4;
   text-align: center;
   margin: 50px auto;
   clear: left;
}
.contacts {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.top img {
   display: block;
   margin: 30px auto 0;
}
.about-contact {
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   max-width: 108px;
}
.get-in-touch-block {  
   display: flex;
   align-items: center;
   margin: 50px 10px 20px;
}
.get-in-touch-block img {
   max-width: 100%;
}
.get-in-touch-block span {
   font-weight: 700;
   font-size: 18px;
   font-family: "Lato";
   color: rgb(255, 255, 255);
   text-transform: uppercase;
}  
.get-in-touch-block a {
   font-size: 16px;
   font-family: "Times New Roman";
   color: rgb(255, 255, 255);
   line-height: 1.2;
   text-decoration: none;
   margin-top: 12px;
}
 
@media screen and (min-width: 769px) {
   .black_square {
      width: 300px;
      height: 300px;
      margin: 75px auto 0;
   }

   .title_black {
      max-width: 220px;
   }

   .title_black h4 {
      font-size: 30px;
   }

   .title_black p {
      font-size: 16px;
      margin-bottom: 35px;
   }

   .read-more {
      width: 125px;
      font-size: 16px;
      padding: 8px 0;
      margin: 24px auto 10px;
   }

   .blue_square {
      width: 260px;
      height: 260px;
   }

   .title_blue h4 {
      font-size: 20px;
   }

   .title_blue p {
      font-size: 16px;
      text-align: left;
   }
 
   .why-choose-us h2 {
      font-size: 32px;
   }

   .why-choose-us h4 {
      font-size: 20px;
   }

   .about-us,
   .feature {  
      font-size: 22px;
   }

   .more-general {
      padding-bottom: 35px;
   }

   .line-square-one {
      display: block;
      background-image: url(..//media/images/Rectangle\ 4\ copy.png);
      background-repeat: no-repeat;
      width: 20px;
      margin-top: 30px;
   }

   .line-square {
      display: block;
      background-image: url(..//media/images/Rectangle\ 4\ copy.png);
      background-repeat: no-repeat;
      width: 20px;
   }

   .number-two {
      width: 188px;
      height: 188px;
      margin: 60px 60px;
   }

   .number-two-rotate span {
      font-size: 82px;
   }

   .white-square {
      width: 320px;
      height: 320px;
      margin-bottom: 100px;
   }

   .title-white {
      width: 226px;
   }

   .title-white h4{
      font-size: 34px;
   }
   
   .number-third,
   .number-four,
   .nubmer-five {
      margin-top: 45px;
   }

   .how-it-work, 
   .get-in-touch, 
   .testimonials-block {
      position: relative;
      padding-top: 155px;
   }

   .rotate span{
      font-size: 64px;
   }

   .get-in-touch h2,
   .testimonials-block h2,
   .how-it-work h2 {
      font-size: 34px;
   }

   .inside-testimonials-left {
      text-align: right;
      padding: 0;
   }

   .inside-testimonials-left div {
      text-align: right;
   }

   .inside-testimonials-right {
      text-align: left;
      padding: 0;
   }

   .inside-testimonials-right div {
      text-align: left;
   }

   .inside-lorem p {
      line-height: 1.6;
   }

   .social {
      padding: 50px 0;
   }
}

@media screen and (min-width: 920px) {
   .line-square-first {
      display: none;
   }
}

@media screen and (min-width: 1024px) {
   header {
      background-size: cover;
   }
   .nav-li {
      padding: 40px 17px 10px;
   }

   .nav {
      margin-left: 50px;
   }

   .we_are {
      display: block;
      position: relative;
   }

   .title_black h4 {
      font-size: 34px;
      margin-bottom: 25px;
   }

   .title_black {
      max-width: 270px;
   }

   .black_square {
      width: 320px;
      height: 320px;
      position: absolute;
      top: 310px;
      left: 115px;
      margin: 0;
   }

   .we_are img {
   margin-bottom: 60px;
   }

   .blue_square {
      width: 280px;
      height: 280px;
      position: absolute;
      top: 609px;
      left: 281px;
      margin: 0;
   }

   .why-choose-us h2 {
      font-size: 36px;
      margin-bottom: 20px;
   }

   .why-choose-us h4 {
      font-size: 24px;
   }

   .about-us, 
   .feature {
      margin: 45px;
      max-width: 328px;
      height: 220px;
      padding: 38px 34px 52px;
   }

   .about-us h3, 
   .feature h3 {
      font-size: 26px;
   }

   .about-us p, 
   .feature p {
      line-height: 1.8;
   }

   .line-square-one {
      margin-top: 80px;
   }

   .more-general {
      padding-bottom: 0;
   }

   .read-more {
     margin: 0 auto; 
   }

   .why-choose-us {
      padding-bottom: 45px;
   }

   .porfolio {
      background-position: 50% 0%;
      padding: 308px 0;
   }

   .number-two {
      width: 194px;
      height: 194px;
      margin: 176px 0 -71px 167px;
   }

   .white-square {
      width: 382px;
      height: 382px;
      margin: 0px auto 200px;
   }

   .title-white {
      width: 270px;
   }

   .title-white h4 {
      font-size: 42px;
   }

   .title-white p {
      font-size: 16px;
      margin-bottom: 40px;
   }

   .number-third, 
   .number-four, 
   .nubmer-five {
      margin-top: 128px;
   }

   .how-it-work, 
   .get-in-touch, 
   .testimonials-block {
      padding-top: 217px;
   }

   .testimonials {
      padding: 0;
   }
   .get-in-touch h2,
   .testimonials-block h2, 
   .how-it-work h2 {
      font-size: 38px;
  }

   .how-it-work h4 {
      margin-top: 30px;
   }

   .about-lorem {
      padding-bottom: 106px;
   }
   .inside-lorem img {
      margin-right: 20px;
   }

   .line-square {
      margin: 0 20px;
   }

   .testimonials-block h4 {
      font-size: 25px;
   }

   .inside-testimonials-right, 
   .inside-testimonials-left {
      max-width: 320px;
   }

   .inside-testimonials-left {
      margin-right: 40px;
      padding: 0;
   }

   .inside-testimonials-left p {
      margin-bottom: 35px;
   }

   .inside-testimonials-right {
      margin-left: 40px;
      padding: 0;
   }

   .inside-testimonials-right p {
      margin-bottom: 35px;
   }

   .social-icons {
      justify-content: center;
   }
   .social-icons li {
      margin: 35px 15px;
   }

   .contacts {
      justify-content: space-evenly;
   }
} 

@media screen and (min-width: 1280px) {
   .nav {
      margin-left: 102px;
   }

   .black_square {
      width: 402px;
      height: 402px;
      position: absolute;
      top: 186px;
      left: 100px;
   }

   .we_are img {
      margin-top: -100px;
   }

   .blue_square {
      width: 326px;
      height: 326px;
      top: 568px;
      left: 309px;
   }
}
